# Core Django Dependencies
Django==4.2.14
django-environ==0.11.2
django-cors-headers==4.3.1

# API Framework
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-filter==23.5
drf-spectacular==0.29.0

# Real-time / Async
channels==4.0.0
channels-redis==4.1.0
celery==5.3.0
django-celery-results==2.5.1
django-celery-beat==2.5.0
daphne==4.0.0
redis==4.5.3
django-redis==5.4.0

# Database & Storage
psycopg2-binary==2.9.9
whitenoise==6.6.0
django-cleanup==8.0.0
django-storages==1.14.2

# Authentication & Security
django-auditlog==2.3.0
bcrypt==4.1.2
cryptography>=42.0.0

# Multilingual
django-parler==2.3

# Third-Party Integrations
razorpay==1.4.1
googlemaps==4.10.0
firebase-admin==6.5.0
requests==2.31.0
python-dateutil==2.9.0.post0
pytz==2024.1

# Admin UI & Debugging
django-jazzmin==3.0.1
django-debug-toolbar==4.4.2
django-extensions==3.2.3

# Utils & Performance
setuptools
ujson==5.9.0
gunicorn==22.0.0
pydantic==2.7.1
pyparsing==3.1.2
regex==2024.5.15
sqlparse==0.5.0
typing-extensions>=4.10.0
asgiref>=3.7.0
Pillow>=10.0.0
