/* Fix massive logo in Jazzmin Admin Login */
.login-logo img {
    max-height: 120px !important;
    width: auto !important;
    margin-bottom: 20px !important;
    object-fit: contain !important;
}

.login-box {
    margin-top: 5vh !important;
}

.brand-link .brand-image {
    max-height: 33px !important;
    width: auto !important;
}
